<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="js/jquery.js"></script>
    <!-- <script src="{% static 'jquery-cookie.js' %}"></script> -->
</head>

<body>
    <center>
        <div class="container is-fluid">
            <div class="notification">
                <h2 class="subtitle">Record:</h2>
                <h3 class="subtitle" id="text"></h3>
                <div class="columns">
                    <div class="column is-full">
                        <button id="record" class="button is-primary"> <i class="fas fa-microphone"></i>&nbsp; Record</button>
                        <button id="stopRecord" class="button is-danger" disabled> <i class="fas fa-stop-circle"></i>&nbsp; Stop</button>
                    </div>
                </div>
                <div class="columns">
                    <form class="box" id="record_box" method="">
                        <h2 class="subtitle">Recordings</h2>
                        <audio id="recordedAudio"></audio>
                    </form>
                </div>
            </div>
        </div>
        <script src="js/date_format.js"></script>
        <script src="js/amar_js.js"></script>
    </center>
</body>

</html>
