[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
alembic = "*"
bcrypt = "*"
cffi = "*"
click = "*"
flask-bcrypt = "*"
flask-script = "*"
firebase-admin = "*"
pytest = "*"
pytest-cov = "*"
gunicorn = "*"
itsdangerous = "*"
psycopg2 = "*"
pycparser = "*"
python-dotenv = "*"
six = "*"
Flask = "*"
Flask-Cors = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
MarkupSafe = "*"
PyJWT = "*"
SQLAlchemy = "*"
Werkzeug = "*"

[requires]
python_version = "3.8"
